{% include "header.twig" %}
<script>
    var fetchUrl = "{{ app.url_generator.generate('admin_fetch') }}";
</script>
<div class="container admin" id="admin">
    <div class="row">
        <div class="col-md-12">
            <header>
                <h1>
                    <a href="{{ app.url_generator.generate('homepage') }}">{{ appTitle }}</a>
                </h1>
            </header>
            <div class="breadcrumb">
                <a href="{{ app.url_generator.generate('admin') }}">Панель управления</a>
                <span class="sep">→</span>
                <h2>Получить расписание</h2>
            </div>

            {% include "parts/session_messages.twig" %}

            <div id="fetch-form" class="fetch-area">
                <div class="row theatre">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default">Парсить все</button>
                    </div>
                </div>
                {% for theatre in theatres %}
                <div class="row theatre">
                    <div class="col-md-4">
                        <button type="button" class="fetch-theatre btn btn-default" data-key="{{ theatre.key }}">
                            Парсить <strong>{{ theatre.title }}</strong>
                        </button>
                    </div>
                    <div class="col-md-8">
                        <div class="fetching-details hidden alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" style="width: 100%">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% include "footer.twig" %}